#imgnav {
  height: 40px;
  width: 40px;
  margin-left: 40px;
}

main {
  min-height: 80vh;
}
.imgcard {
  height: 200px;
}

.SideNavbar1 {
  height: 80vh;
  width: 100%;
  text-align: center;
}
.SideNavbar2 {
  width: 220px;
}

.malechild img {
  height: 50px;
  width: 50px;
}
