#imgnav {
  height: 40px;
  width: 40px;
  margin-left: 40px;
}
main {
  min-height: 77.9vh;
}
.imgcard {
  height: 200px;
}
.malechild img {
  height: 50px;
  width: 50px;
  margin: 0 10px;
}

.mainscreen {
  background-color: rgb(175, 245, 245);
  position: fixed;
  height: 77.9vh;
  width: 97%;
  top: 1;
  right: 0;
  overflow: hidden;
  overflow-y: scroll;
}
